@using Attendance_Management_System.Data.Models
@model Attendance_Management_System.ViewModels.StudentRecordVM

@{
    ViewBag.Title = "Student's Record";
    ViewBag.Description = "View student's record";
}

<div class="row" style="margin-bottom: 20px;" id="back-to-students">
    <div class="col-md-4 col-md-offset-1">
        <a href="/student/index">Back To Students</a>
    </div>
</div>

<div class="row">
    <div class="col-md-4 col-md-offset-1">
        <label>From:</label>
        <input type="text" placeholder="Date" class="form-control date" id="date-from" />
    </div>
    <div class="col-md-4">
        <label>To:</label>
        <input type="text" placeholder="Date" class="form-control date" id="date-to" />
    </div>
    <div class="col-md-2 col-md-offset-1">
        <button class="btn btn-theme" id="print">Print</button>
    </div>
</div>

<div class="row">
    <div class="col-md-9 col-md-offset-1">
        <h2>@Model.Student.FirstName @Model.Student.LastName - @Model.Classes</h2>
        <h5>@Model.Student.CellPhone</h5>
        <h5>@Model.Student.Address1</h5>
        <h5>@Model.Student.City, @Model.Student.State @Model.Student.Zip</h5>
    </div>
</div>

<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <table class="table table-hover table-bordered table-striped">
            <tr>
                <th>#</th>
                <th>Teacher</th>
                <th>Class</th>
                <th>Date</th>
                <th>Status</th>
                <th class="edit">Edit</th>
            </tr>
            @{ var count = 0;
                foreach (var a in Model.Attendance)
                {
                    if (a.StudentClass.Class.IsActive)
                    {
                        count++;
                    <tr>
                        <td>@count</td>
                        <td>@a.TeacherSubject.Teacher.Title @a.TeacherSubject.Teacher.LastName</td>
                        <td>@a.StudentClass.Class.ClassName</td>
                        <td>@a.Date.ToShortDateString()</td>
                        <!--<td>@Html.Raw(a.Status == Status.ExcusedAbsence ? "<span class='glyphicon glyphicon-ok-circle' aria-hidden='true'></span>" : "")</td>-->
                        <td class="active-status">@(a.Status == Status.ExcusedAbsence ? "Excused Absence" : (a.Status == Status.UnexcusedAbsence ? "Unexcused Absence" : (a.Status == Status.ExcusedLateness ? "Excused Lateness" : (a.Status == Status.UnexcusedLateness ? "Unexcused Lateness" : ""))))</td>
                        <td class="edit">
                            <div class="col-md-5">
                            <select class="form-control status">
                                <option></option>
                                <option value="@Status.Present">Present</option>
                                <option value="@Status.ExcusedAbsence">Excused Absence</option>
                                <option value="@Status.UnexcusedAbsence">Unexcused absence</option>
                                <option value="@Status.ExcusedLateness">Excused Lateness</option>
                                <option value="@Status.UnexcusedLateness">Unexcused Lateness</option>
                            </select>
                                </div>
                            <button class="btn btn-theme edit-status" data-id="@a.BCAttendanceId">Change</button>
                        </td>
                    </tr>
                        }
                    }
                }
        </table>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/bootstrap-datepicker.js"></script>
    <script src="~/Scripts/studentRecord.js"></script>
}